@import "~bootstrap/scss/bootstrap.scss";


body{

    display:flex;
    position:center;
    padding-left:500px;
}


.list-group{

    width: 500px;
   
}

.itemsLeft{

    font-size: 0.8rem;
    color:grey;
    text-align: left !important;
    margin:0px;
    padding-left:50px;

}

.InputTask{

padding-bottom:20px;
color:grey;
width: 500px;

}

.InputTask input{

    border:none;
    width:450px;
    text-align:center;

}

.DeleteButton{

    border:none;
    background-color: transparent;
}

.show{

    display:none;
}

.showitem:hover{

    .show {

    display:inline; 
}



}
